.MainHome{
    background-image: url("../../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: Calc(100vh - 67px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainHome>.Content{
    background-color: rgba(0, 0, 0, 0.411);
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50vw;
    color: white;
    padding-top: 20px;
    align-items: center;
    border: 1.5px solid gray;
}

.MainHome>.Content>.title{
    font-size: 30px;
}
.MainHome>.Content>.sousTitle{
    font-size: 25px;
    
}
.MainHome>.Content>.lieu{
    font-size: 18px;
    
}